* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.title-container {
    box-sizing: border-box;
    text-align: center;
}

.title-container h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
}

.content-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.menu-container, .slider-container, .color-picker-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.slider-container, .color-picker-container {
    padding: 0;
}

.slider-container p {
    align-self: center;
}

.menu-container h2 {
    align-self: center;
}

.menu-container .btn {
    flex: 0 0 auto;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    padding: 8px 12px;
}

.canvas-container {
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    display: grid;
}

.grid-box {
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Masih coba-coba belajar, belum sempurna */
@media (max-width: 600px) {
    .content-container {
        flex-direction: column;
        gap: 10px;
    }

    .menu-container {
        order: 2;
        width: 100%;
        padding: 10px;
    }
    
    .menu-container .btn {
        width: 100%;
        margin: 5px 0;
    }

    .canvas-container {
        order: 1;
        width: 100%;
        max-width: 100%;
        aspect-ratio: 1/1;
    }
}